{% include header.html %}
<div id="peiler"></div>
<section class="introduction">
    <h1>How to be a happy CMD student.</h1>
    <h2>A data visualisation</h2>
</section>

<section class="drug">
    <h2>Average level of happiness &rarr;</h2>
    <div class="chart">
        <div class="bar one"><span>No drugs</span><span>0</span></div>
        <div class="bar two"><span>Soft drugs</span><span>0</span></div>
        <div class="bar three"><span>Hard drugs</span><span>0</span></div>
    </div>
    <div class="text">
        <h1>So, drugs.</h1>
        <p>We asked 94 CMD students what kind of drugs they do. Then, we asked them to rate how satisfied they are with their lives on a scale from 1 tot 10.</p>
    </div>
</section>

<section class="alcohol">
    <h1>What about alcohol?</h1>
    <h2 class="question">Great question.</h2>
    <div class="chart">
        <p>This stacked bar chart shows the ratio of glasses of <span>water</span> and <span>alcohol</span> drunk per week. We've seperated the results based on how happy the students are. 10 is very happy. 1 is not so happy.</p>
        <div class="image" style="background: url('/img/alcohol.svg') center center / cover" alt="">
            {% for i in (1..10) %}
                <div class="bar">
                    {% if forloop.index == 7 %}
                    <span>No data</span>
                    {% endif %}
                    <div class="water">
                        <span>
                        {% if forloop.index == 1 %}49{% endif %}
                        {% if forloop.index == 2 %}42{% endif %}
                        {% if forloop.index == 3 %}33{% endif %}
                        {% if forloop.index == 4 %}46{% endif %}
                        {% if forloop.index == 5 %}53{% endif %}
                        {% if forloop.index == 6 %}21{% endif %}
                        {% if forloop.index == 8 %}35{% endif %}
                        {% if forloop.index == 9 %}7{% endif %}
                        {% if forloop.index == 10 %}280{% endif %}
                    </span>
                    </div>
                    <div class="alcohol">
                        <span>
                            {% if forloop.index == 1 %}11{% endif %}
                            {% if forloop.index == 2 %}6{% endif %}
                            {% if forloop.index == 3 %}7{% endif %}
                            {% if forloop.index == 4 %}4{% endif %}
                            {% if forloop.index == 5 %}2{% endif %}
                            {% if forloop.index == 6 %}2{% endif %}
                            {% if forloop.index == 8 %}5{% endif %}
                            {% if forloop.index == 9 %}6{% endif %}
                        </span>
                    </div>
                </div>
            {% endfor %}
            <span>Water</span>
            <span>Alcohol</span>
        </div>
    </div>
</section>

<section class="bijbaan">
    <div class="large">
        <div class="overflower">
            <h1>JOBS</h1>
            <p>No, not steve</p>
        </div>
    </div>
    <div class="pie">
        <div class="chart">
            <div></div>
            <div></div>
        </div>
    </div>
</section>

{% include footer.html %}