{% include header.html %}

<section class="introduction">
    <h1>How to be a happy CMD student.</h1>
    <h2>A data visualisation</h2>
</section>

<section class="drug">
    <h2>Average happiness &rarr;</h2>
    <div class="chart">
        <div class="bar one"><span>No drugs</span><span>0</span></div>
        <div class="bar two"><span>Soft drugs</span><span>0</span></div>
        <div class="bar three"><span>Hard drugs</span><span>0</span></div>
    </div>
    <div class="text">
        <h1>So, drugs.</h1>
        <p>We asked 94 CMD students to rate how satisfied they are with their lives on a scale from 1 tot 10. Then, we asked them what their favourite kind of drug is. </p>
    </div>
</section>

<section style="height:40rem;"></section>

{% include footer.html %}