{% include header.html %}

<section class="introduction">
    <h1>How to be a happy CMD student.</h1>
    <h2>A data visualisation</h2>
</section>

<section class="drug">
    <h2>Average level of happiness &rarr;</h2>
    <div class="chart">
        <div class="bar one"><span>No drugs</span><span>0</span></div>
        <div class="bar two"><span>Soft drugs</span><span>0</span></div>
        <div class="bar three"><span>Hard drugs</span><span>0</span></div>
    </div>
    <div class="text">
        <h1>So, drugs.</h1>
        <p>We asked 94 CMD students what kind of drugs they do. Then, we asked them to rate how satisfied they are with their lives on a scale from 1 tot 10.</p>
    </div>
</section>

<section class="alcohol">
    <h1>What about alcohol?</h1>
    <h2 class="question">Great question.</h2>
    <div class="chart">
        <div class="image" style="background: url('/img/alcohol.svg') center center / cover" alt=""> </div>
    </div>
</section>

{% include footer.html %}